services:
  dev:
    build:
      context: .
      dockerfile: docker/eval.Dockerfile
    volumes:
      - .:/comp
    command: /bin/bash

  test-submission:
    build:
      context: .
      dockerfile: docker/eval.Dockerfile
    volumes:
      - ./submission.py:/comp/submission.py
      - ./evaluator.py:/comp/evaluator.py
      - ./src:/comp/src
      - ./models:/comp/models
    command: ["uv", "run", "python", "evaluator.py", "--mode", "local"]
